.container{
    padding: 0;
    margin: 0 auto;
    width: 414px;
    height: 736px;
    background: #FCFCFC;
    border: 1px solid black;
}

.filtre{
    width: 381px;
    height: 48px;
    background: #F5F5F5;
    margin-top: 8px;
    margin-left: 16px;
}

.sifirla{
    margin-left: 6.5px;
    width: 400px;
    height: 48px;
    margin-top: 8px;
}

.sifirla h4{
    font-size: 15px;
    position: relative;
    bottom: 5px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}

.sifirla input{
    font-size: 15px;
    left: 191px;
    position: relative;
    border: none;
    cursor: pointer;
    color: #FF7D5A;
    border-radius: 6px;
    width: 66px;
    text-align: center;
    height: 19px;
    background: #FCFCFC;
}

.sifirla input:hover{
    color: white;
    background: #FF7D5A;
}

.sifirla .sol{
    margin-left: 8px;
    color: #A5ABB4;
}

button{
    left: 40px;
    cursor: pointer;
    height: 46px;
    width: 330px;
    background: #FF7D5A;
    border-radius: 25px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 25px;
    border: none;
    top: 25px;
}

button img{
    float: right;
}

button span{
    bottom: 3px;
    position: relative;
    font-size: 16px;
}

select{
    text-align-last: right;
    background: #F5F5F5;
    font-size: 19px;
    color: #B3B8BF;
    font-family: 'Roboto', sans-serif;
    width: 200px;
    height: 46px;
    border: none;
    cursor: pointer;
    background-image: url(images/icon.png);
    background-position: left;
    background-repeat: no-repeat;
    float: right;
}

p{
    margin-left: 15px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    position: relative;
    font-size: 16px;
    color: #515C6F;
}
