.head{
  text-align:left;
  padding-left:25px;
  margin-bottom:0px;
}
.uploadpreview{
  width: 100px;
  height: 94px;
  display:block;
  border: none;
  border-radius:13px;
  margin-left:23px;
  margin:0 auto 15px;
  background-size:100% auto;
  background: #FFFFFF;
  background-repeat:no-repeat;
  background-position:center;
}

.upload-wrap{
  bottom: 316px;
  left: 30px;
  margin-bottom: 25px;
  float: left;
  display: inline-block;
  background: #FFFFFF;
  width: 100px;
  height: 94px;
  border-radius: 13px;
  margin-left: 20px;
}

input[type="file"] {
    bottom: 83px;
    position: relative;
    color: transparent;
    width: 120px;
    padding-right:32px;
    margin: 0 auto;
    display: block;
}

.upload{
  margin-left: 33px;
}
