/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



.container{
  margin: 0 auto;
  padding: 0;
  width: 414px;
  background: #F2F2F2;
  border: 1px solid black;
  height: 1103px;
}

header{
  height: 45.31px;
  background: #FFFFFF;
  border-bottom: 1px solid #E5E3E3;
}

header img{
  margin-top: 9px;
  display: inline-block;
}

.katagori{
  height: 85px;
  border-bottom: 1px solid #E5E3E3;
}

.secenekler{
  position: relative;
  left: 13px;
  margin-top: 15px;
  height: 77px;
}

.secenek{
  position: relative;
  margin-right: 18px;
  display: inline-block;
  width: 60px;
  height: 77px;
}

.secenek .ic{
    display: inline-block;
    position: relative;
    bottom: 39px;
    left: 17px;
}

.secenek p{
  bottom: 23px;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  text-align: center;
  position: relative;
}

.urun{
  border-radius: 10px;
  margin-left: 8.5px;
  float: left;
  display: inline-block;
  margin-top: 10px;
  width: 193px;
  height: 264px;
  border: none;
  background: #FFFFFF;
}

.urun img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.urun .p{
  position: relative;
  bottom: 12px;
  margin-left: 10px;
  font-size: 16px;
  color: #515C6F;
}

.urun span{
  position: relative;
  top: 14px;
  margin-left: 10px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  color: #FF7D5A;
}

.urun .ic{
  left: 100px;
  bottom: 21px;
  position: relative;
  background: #FF7D5A;
  border-top-left-radius: 10px;
  width: 93px;
  height: 21px;
}


.urun .ic .sa{
  font-size: 15px;
  color: #FFFFFF;
  text-align: center;
}




p{
  font-family: 'Lato', sans-serif;
}
