*, *:before, *:after {
    -moz-box-sizing: border-box; 
   -webkit-box-sizing: border-box; 
   box-sizing: border-box;
 }
 body {
   font-family:'Helvetica', sans-serif; 
 }
 

.container{
    border: 1px solid black;
    margin: 0 auto;
    max-width: 450px;
    height: 1370px;
    background:#F2F2F2;    
}

header h2{
    margin-left: 12px;
    font-family: 'Roboto', sans-serif;
    color: #555555;
}

header p{
    margin-left: 12px;
    font-family: 'Roboto', sans-serif;
    color: #555555;
    font-size: 22px;
}

 .alt-yazi{
    font-family: 'Roboto', sans-serif;
    color: #515C6F;
    margin-left: 27px;
    font-size: 15px;
    position: relative;
    bottom: 20px;
}

.katagori .ust-yazi{
    font-family: 'Roboto', sans-serif;
    color: #515C6F;
    margin-left: 15px;
    font-size: 20px;
}

.katagori select{
    position: relative;
    bottom: 15px;
    margin-left: 15px;
    font-size: 19px;
    color: #515C6F;
    font-family: 'Roboto', sans-serif;
    width: 420px;
    height: 45px;
    border: none;
    border-radius: 13px;
    cursor: pointer;
}

.baslik{
    margin-left: 15px;
}

.baslik input{
    font-size: 19px;
    color: #515C6F;
    font-family: 'Roboto', sans-serif;
    width: 420px;
    height: 45px;
    border: none;
    border-radius: 13px;
}

.alt-yazi2{
    font-family: 'Roboto', sans-serif;
    color: #515C6F;
    margin-left: 15px;
    font-size: 15px;
    position: relative;
    bottom: 3px;
}

.fiyat{
    margin-left: 15px;
}

.fiyat input{
    font-size: 19px;
    color: #515C6F;
    font-family: 'Roboto', sans-serif;
    width: 200px;
    height: 45px;
    border: none;
    border-radius: 13px;
}

.durum p{
    font-family: 'Roboto', sans-serif;
    color: #515C6F;
    margin-left: 15px;
    font-size: 20px;
    width: 420px;
    height: 45px;
    border: none;
    border-radius: 13px;
    background: #FFFFFF;   
}

.durum select{
    margin-left: 15px;
    font-size: 19px;
    color: #515C6F;
    font-family: 'Roboto', sans-serif;
    width: 200px;
    height: 45px;
    border: none;
    border-radius: 13px;
    cursor: pointer;
}

span{
    color: red;
}

.durum button{
    font-family: 'Roboto', sans-serif;
    color: #515C6F;
    margin-left: 15px;
    font-size: 20px;
    width: 200px;
    height: 45px;
    border: none;
    border-radius: 13px;
    background: #FFFFFF;  
    margin-bottom: 20px; 
    text-align: left;
}

.durum .ikinci{
  position: relative;
}

.durum button:hover{
    color: white;
    background: #FF7851;
    cursor: pointer;
}

.aciklama{
    margin-left: 15px;
}

.aciklama input{
    font-size: 19px;
    color: #515C6F;
    font-family: 'Roboto', sans-serif;
    width: 400px;
    height: 150px;
    border: none;
    border-radius: 13px;
}

.fotograf{
    position: relative;
    left: 30px;
    margin-right: auto;
    margin-left: auto;
}

.fotograf h2{
    margin-bottom: -24px;
    font-size: 30px;
    margin-left: 12px;
    font-family: 'Roboto', sans-serif;
    color: #555555;
}

.fotolar{
    padding-right: 57px;
    position: relative;
    top: 48px;
    left: 15px;
}

.fotolar #thumbs{
    border-radius: 13px;
}

.fotolar #thumbs img{
    position: relative;
    bottom: 119px;
    margin-bottom: 25px;
    margin-right: 30px;
    border-radius: 13px;
}

.alt-yazi3 p{
    font-family: 'Roboto', sans-serif;
    color: #515C6F; 
    width: 400px;
}

.alt-yazi3{
    right: 35px;
    position: absolute;
    top: 275px;
}

footer{
    position: relative;
    top: 69px;
    left: 32px;
}

footer button{
    cursor: pointer;
    height: 46px;
    width: 330px;
    background: #FF7D5A;
    border-radius: 25px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 25px;
    border: none;
}

footer button img{
    float: right;
}

.ucret{
    position: relative;
    left: 317px;
    bottom: 129px;
    display: inline-block;
}

.ucret p{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    right: 116px;
    top: 30px;
    font-size: 18px;
}

.fotolar input{
    background: #FFFFFF;
    opacity: 1;
    border: none;
    color: black;
    cursor: pointer;
    margin-bottom: 25px;
}







.three .button-wrap {
    height: 35px;
    width: 100px;
    margin: 40px auto 0;
    cursor: pointer;
  }
  .three .button-bg {
    width: 100%;
    height: 100%;
    background-color: #ddd;
    border-radius: 40px;
    padding: 3px;
    color:#fff;
    transition:all 0.2s ease;
  }
  .three .button-switch {
      bottom: 3px;
    position:relative;
    left:-2px;
    width: 44px;
    height: 35px;
    border:solid 13px;
    background-color:#fff;
    border-radius: 36px;
    transition:all 0.2s ease;
  }
  .three .button-active .button-switch { left:50px; }
  .three .button-in, 
  .three .button-out {
    position:absolute; 
    transition:all 0.2s ease;
    padding-top:15px;
    font-size:0.8em;
    text-transform:uppercase;
    font-weight:bold;
  }
  .three .button-in { margin-left:76px; }
  .three .button-out { margin-left:18px; }
  .three .button-active .button-out {  }
  .three .button-active .button-in {  }
  .three .button-active .button-bg { background-color:#FF7D5A; }
  


  