.container{
    background: #F2F2F2;
    padding: 0;
    margin: 0 auto;
    width: 414px;
    height: 1200px;
}





/*resimler (başlangıç)*/
.resimler{
    border: 1px solid lightcoral;
    height: 450px;
}



/*resimler (bitiş)*/








/*fiyat (başlangıç)*/

.fiyat{
    border: 1px solid lightblue;
    height: 170px;
}



/*fiyat (biriş)*/








/*aciklama (başkangıç)*/

.aciklama{
    border: 1px solid red;
    height: 190px;
}



/*aciklama (bitiş)*/









/*konum (başlangıç)*/

.konum{
    border: 1px solid lightgreen;
    height: 270px;
}



/*konum (bitiş)*/










/*iletisim (başlangıç)*/

.iletisim{
    border: 1px solid blueviolet;
    height: 120px;
}



/*iletisim (bitiş)*/
